In [1]:
import pandas as pd
import numpy as np
import urllib.request as urllib2
from datetime import datetime, timedelta, date

### Get Oxford data and calculate Death Rate

In [2]:
# Import Oxford data and enrich columns for future merging needs
df = pd.read_csv('https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/OxCGRT_latest.csv')
df['Date'] = pd.to_datetime(df['Date'], format="%Y%m%d")
df['DateString'] = df['Date'].apply(lambda x: datetime.strftime(x, "%Y%m%d"))
df['Index'] = df['CountryCode'] + df['DateString']

# Calculate Death Rates
df['DeathRate'] = df['ConfirmedDeaths'] / df['ConfirmedCases'] *100
df

,CountryName,CountryCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,...,M1_Wildcard,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyIndexForDisplay,LegacyStringencyIndex,LegacyStringencyIndexForDisplay,DateString,Index,DeathRate
0,Aruba,ABW,2020-01-01,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,0.00,0.00,0.00,0.00,20200101,ABW20200101,NaN
1,Aruba,ABW,2020-01-02,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,0.00,0.00,0.00,0.00,20200102,ABW20200102,NaN
2,Aruba,ABW,2020-01-03,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,0.00,0.00,0.00,0.00,20200103,ABW20200103,NaN
3,Aruba,ABW,2020-01-04,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,0.00,0.00,0.00,0.00,20200104,ABW20200104,NaN
4,Aruba,ABW,2020-01-05,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,0.00,0.00,0.00,0.00,20200105,ABW20200105,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22558,Kosovo,RKS,2020-05-10,3.0,1.0,2.0,1.0,2.0,1.0,4.0,...,NaN,870.0,28.0,94.71,94.71,93.57,93.57,20200510,RKS20200510,3.218391
22559,Kosovo,RKS,2020-05-11,3.0,1.0,2.0,1.0,2.0,1.0,4.0,...,NaN,884.0,28.0,94.71,94.71,93.57,93.57,20200511,RKS20200511,3.167421
22560,Kosovo,RKS,2020-05-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,919.0,29.0,NaN,94.71,NaN,93.57,20200512,RKS20200512,3.155604
22561,Kosovo,RKS,2020-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,919.0,29.0,NaN,94.71,NaN,93.57,20200513,RKS20200513,3.155604
22562,Kosovo,RKS,2020-05-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,944.0,29.0,NaN,94.71,NaN,93.57,20200514,RKS20200514,3.072034

### Get Market data and calculate Market Performance

In [3]:
stocks = pd.read_csv('https://raw.githubusercontent.com/LarsBryld/socialdataanalysis2020/master/data/Markets.csv',
                     encoding= 'unicode_escape'
                    )
stocks = stocks.groupby('CountryCode',sort=False).sum()
#stocks = stocks.rename({'United Kingdom': 'United Kingdom'}, axis='index')
#stocks = stocks.drop(columns=['Index ', 'Country/Region'])

columns_new = np.array(stocks.columns)
for i in range(len(columns_new)):
    columns_new[i] = datetime.strptime(columns_new[i],'%d/%m/%Y')

stocks.columns = columns_new

stocks#.loc['United Kingdom']                                                    # TO BE DELETED

,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,2020-01-10,2020-01-11,...,2020-05-05,2020-05-06,2020-05-07,2020-05-08,2020-05-09,2020-05-10,2020-05-11,2020-05-12,2020-05-13,2020-05-14
CountryCode,,,,,,,,,,,,,,,,,,,,,
CHN,3066,3089,3083,3077,3071,3085,3094,3083,3102,3099,...,2831,2832,2876,2883,2889,2895,2902,2895,2883,2887
AUT,3188,3230,3225,3220,3215,3202,3190,3196,3204,3209,...,2148,2196,2186,2225,2233,2240,2247,2227,2201,2164
BEL,3983,4002,3988,3974,3961,3982,3966,4019,4025,4025,...,3013,3014,3013,3101,3094,3087,3080,3050,3024,2917
DNK,1254,1252,1247,1242,1237,1240,1240,1241,1247,1247,...,1207,1223,1229,1235,1240,1243,1253,1253,1248,1247
FIN,4225,4282,4278,4274,4271,4266,4255,4244,4240,4247,...,3629,3620,3615,3682,3691,3701,3711,3656,3664,3580
FRA,6017,6008,6006,6003,6001,6033,5987,6067,6057,6051,...,4456,4484,4456,4538,4546,4553,4561,4473,4421,4294
ITA,23607,23710,23662,23614,23566,23688,23551,23980,24061,24061,...,17289,17368,17256,17416,17478,17540,17602,17394,17354,17066
DEU,13234,13266,13206,13146,13085,13200,13140,13475,13533,13530,...,10627,10717,10641,10882,10904,10926,10948,10778,10670,10418
GRC,918,926,924,922,920,917,916,920,927,926,...,607,611,602,606,607,607,608,597,594,589
ISL,1516,1542,1537,1532,1526,1519,1534,1532,1535,1542,...,1315,1309,1325,1322,1329,1337,1344,1362,1392,1422
IRL,7172,7314,7290,7266,7242,7214,7238,7216,7258,7264,...,5387,5384,5322,5424,5452,5480,5508,5413,5391,5321
NLD,608,610,609,607,606,610,608,614,614,613,...,504,509,509,520,521,522,523,518,513,504
POL,58122,58784,58738,58691,58656,58598,58192,58062,58603,58662,...,45374,45205,44516,45190,45303,45415,45527,44875,45447,45143
PRT,5239,5247,5236,5226,5216,5236,5208,5242,5240,5248,...,4235,4217,4183,4265,4258,4250,4242,4168,4085,4047
ESP,9639,9631,9616,9601,9585,9623,9535,9629,9611,9603,...,6772,6720,6715,6791,6804,6818,6831,6673,6694,6570
SWE,1772,1806,1801,1796,1792,1785,1795,1798,1798,1794,...,1525,1536,1529,1549,1555,1562,1568,1547,1551,1507
CHE,10585,10585,10608,10630,10653,10714,10628,10722,10678,10667,...,9445,9506,9609,9667,9671,9675,9680,9693,9680,9582
GBR,7542,7604,7610,7616,7622,7575,7574,7575,7598,7595,...,5754,5849,5854,5874,5890,5901,5936,5940,5995,5904
CAN,17138,17056,17047,17039,17031,17120,17169,17206,17239,17239,...,14896,14848,14969,14962,14941,14921,14901,15167,14894,14343
USA,3245,3226,3223,3220,3218,3242,3239,3266,3282,3278,...,2869,2883,2878,2909,2911,2913,2915,2940,2866,2795
AUS,6684,6691,6705,6719,6733,6736,6826,6818,6874,6892,...,5320,5407,5385,5364,5373,5382,5391,5461,5403,5422
NZL,7528,7528,7554,7579,7604,7632,7636,7590,7568,7572,...,7110,7107,7156,7195,7206,7218,7230,7264,7312,7294
HKG,28249,28828,28661,28494,28327,28353,28000,28368,28665,28701,...,23756,23868,24121,24193,24286,24378,24470,24358,24112,24038
JPN,23320,23320,23320,23320,23320,23320,23217,23530,23813,23852,...,19643,19556,19469,19972,20093,20213,20334,20413,20141,20140
KOR,2201,2193,2180,2168,2155,2167,2156,2182,2189,2194,...,1919,1919,1922,1945,1948,1951,1954,1939,1898,1922
SGP,3230,3260,3247,3234,3222,3236,3211,3263,3253,3255,...,2579,2567,2584,2600,2600,2599,2598,2583,2574,2547
TWN,12027,12167,12124,12080,12036,11962,11819,11889,12009,12029,...,10757,10771,10779,10883,10903,10923,10942,10975,10861,10894
BRA,115652,118564,118279,117993,117707,116872,116667,116248,115948,115799,...,78887,79473,79072,78152,78856,79560,80263,79065,77877,77771
ISR,1684,1684,1684,1684,1682,1682,1673,1679,1678,1678,...,1395,1414,1419,1431,1442,1454,1453,1441,1431,1395
IND,41340,41635,41549,41464,41378,40983,40575,41217,41568,41642,...,32183,31578,31678,32083,32066,32048,32030,31343,32842,31466
MEX,43740,44355,44400,44445,44490,44522,44161,44453,44594,44636,...,36357,36673,37137,36867,37116,37366,37615,37675,37403,36267
ZAF,57084,57718,57749,57779,57810,57195,57384,57322,57129,57247,...,49187,49184,49832,50020,50348,50676,51004,50203,50319,50152
RUS,5344,5344,5364,5383,5402,5406,5410,5435,5476,5485,...,4609,4662,4602,4636,4638,4640,4641,4644,4661,4613
NOR,931,941,940,939,943,940,937,938,939,939,...,751,758,748,757,761,765,770,764,770,758

In [4]:
# Reference dates: 23rd and 24th March 2020

market0 = stocks[datetime(2020, 3, 23, 0, 0)]
for i in (8, 9, 10, 16, 17, 20, 21, 27, 29, 30, 31, 32):                            #range(1,len(stocks)):
    market0.iloc[i] = stocks[datetime(2020, 3, 24, 0, 0)][i]

market0.head()         # TO BE DELETED

CountryCode
CHN    2678
AUT    1888
BEL    2676
DNK     989
FIN    2939
Name: 2020-03-23 00:00:00, dtype: int64

In [5]:
# Market Performance
mkt_p = stocks.T/market0 -1
mkt_p = mkt_p.T *100
#mkt_p = mkt_p.reindex(focuscountries)

# showing perfomances from 23rd March onward
mkt_p.iloc[:, 81::].head()        # TO BE DELETED

,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,...,2020-05-05,2020-05-06,2020-05-07,2020-05-08,2020-05-09,2020-05-10,2020-05-11,2020-05-12,2020-05-13,2020-05-14
CountryCode,,,,,,,,,,,,,,,,,,,,,
CHN,0.0,0.933532,3.622106,3.136669,4.294249,3.622106,2.949963,2.315161,3.323376,2.464526,...,5.713219,5.750560,7.393577,7.654966,7.879014,8.103062,8.364451,8.103062,7.654966,7.804332
AUT,0.0,-0.317797,7.786017,6.885593,8.951271,7.944915,6.938559,5.985169,5.402542,5.932203,...,13.771186,16.313559,15.783898,17.849576,18.273305,18.644068,19.014831,17.955508,16.578390,14.618644
BEL,0.0,4.446936,11.397608,6.614350,9.566517,8.594918,7.623318,6.651719,7.025411,6.016442,...,12.593423,12.630792,12.593423,15.881913,15.620329,15.358744,15.097160,13.976084,13.004484,9.005979
DNK,0.0,3.741153,8.088979,6.673407,9.201213,9.302326,9.504550,9.706775,14.863498,12.436805,...,22.042467,23.660263,24.266936,24.873610,25.379171,25.682508,26.693630,26.693630,26.188069,26.086957
FIN,0.0,2.483838,9.663151,9.118748,11.976863,11.194284,10.411705,9.629126,11.738687,11.500510,...,23.477373,23.171147,23.001021,25.280708,25.586934,25.927186,26.267438,24.396053,24.668255,21.810140

In [6]:
# Converting Market Performances data from rows to columns
mkt_p1 = pd.DataFrame(mkt_p[mkt_p.columns[0]])
mkt_p1['Date'] = mkt_p1.columns.repeat(len(mkt_p1))
mkt_p1.rename(columns={mkt_p1.columns[0]:'MarketPerformance', 'Date':'Date'}, inplace=True)

for i in range(1, len(mkt_p.columns)):
    mkt_p_new = pd.DataFrame(mkt_p[mkt_p.columns[i]])
    mkt_p_new['Date'] = mkt_p_new.columns.repeat(len(mkt_p))
    mkt_p_new.rename(columns={mkt_p_new.columns[0]:'MarketPerformance', 'Date':'Date'}, inplace=True)
    mkt_p1 = pd.concat([mkt_p1, mkt_p_new], axis=0)

mkt_p1.head()

             MarketPerformance       Date
CountryCode
CHN                  14.488424 2020-01-02
AUT                  68.855932 2020-01-02
BEL                  48.841555 2020-01-02
DNK                  26.794742 2020-01-02
FIN                  43.756380 2020-01-02

In [7]:
# Adding columns needed for merging with Oxford data
mkt_p1['DateString'] = mkt_p1['Date'].apply(lambda x: datetime.strftime(x, "%Y%m%d"))
mkt_p1['Index'] = mkt_p1.index + mkt_p1['DateString']
mkt_p1.loc['USA']

             MarketPerformance       Date DateString        Index
CountryCode
USA                  41.641205 2020-01-02   20200102  USA20200102
USA                  40.811873 2020-01-03   20200103  USA20200103
USA                  40.680925 2020-01-04   20200104  USA20200104
USA                  40.549978 2020-01-05   20200105  USA20200105
USA                  40.462680 2020-01-06   20200106  USA20200106
...                        ...        ...        ...          ...
USA                  27.149716 2020-05-10   20200510  USA20200510
USA                  27.237014 2020-05-11   20200511  USA20200511
USA                  28.328241 2020-05-12   20200512  USA20200512
USA                  25.098210 2020-05-13   20200513  USA20200513
USA                  21.999127 2020-05-14   20200514  USA20200514

[134 rows x 4 columns]

In [8]:
# Add Market Performance to Oxford file 
df = df.merge(mkt_p1, left_on = 'Index', right_on = 'Index', how = 'left')
df = df.rename({'Date_x': 'Date',
                'DateString_x': 'DateString'}, axis='columns')
df = df.drop(columns=['Date_y', 'DateString_y'])
df[df['CountryCode']=='USA']

,CountryName,CountryCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,...,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyIndexForDisplay,LegacyStringencyIndex,LegacyStringencyIndexForDisplay,DateString,Index,DeathRate,MarketPerformance
21204,United States,USA,2020-01-01,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,20200101,USA20200101,NaN,NaN
21205,United States,USA,2020-01-02,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,20200102,USA20200102,NaN,41.641205
21206,United States,USA,2020-01-03,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,20200103,USA20200103,NaN,40.811873
21207,United States,USA,2020-01-04,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,20200104,USA20200104,NaN,40.680925
21208,United States,USA,2020-01-05,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,20200105,USA20200105,NaN,40.549978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21335,United States,USA,2020-05-11,3.0,0.0,3.0,0.0,2.0,0.0,4.0,...,1329799.0,79528.0,68.41,68.41,70.0,70.0,20200511,USA20200511,5.980453,27.237014
21336,United States,USA,2020-05-12,3.0,0.0,3.0,0.0,2.0,0.0,4.0,...,1347916.0,80684.0,68.41,68.41,70.0,70.0,20200512,USA20200512,5.985833,28.328241
21337,United States,USA,2020-05-13,3.0,0.0,3.0,0.0,2.0,0.0,4.0,...,1369964.0,82387.0,68.41,68.41,70.0,70.0,20200513,USA20200513,6.013808,25.098210
21338,United States,USA,2020-05-14,3.0,0.0,3.0,0.0,2.0,0.0,4.0,...,1390746.0,84133.0,68.41,68.41,70.0,70.0,20200514,USA20200514,6.049487,21.999127
21339,United States,USA,2020-05-15,3.0,0.0,3.0,0.0,2.0,0.0,4.0,...,1417889.0,85906.0,68.41,68.41,70.0,70.0,20200515,USA20200515,6.058725,NaN

## calculate CovIndex = Market Performance - Death Rate

In [9]:
df['CovIndex'] = (df['MarketPerformance'] - df['DeathRate']) #* 100
df = df[df['CovIndex'].notna()]
df[df['CountryCode']=='DNK']

,CountryName,CountryCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,...,ConfirmedDeaths,StringencyIndex,StringencyIndexForDisplay,LegacyStringencyIndex,LegacyStringencyIndexForDisplay,DateString,Index,DeathRate,MarketPerformance,CovIndex
6041,Denmark,DNK,2020-02-27,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,11.11,11.11,14.29,14.29,20200227,DNK20200227,0.000000,29.625885,29.625885
6042,Denmark,DNK,2020-02-28,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,11.11,11.11,14.29,14.29,20200228,DNK20200228,0.000000,23.053589,23.053589
6043,Denmark,DNK,2020-02-29,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,11.11,11.11,14.29,14.29,20200229,DNK20200229,0.000000,23.963600,23.963600
6044,Denmark,DNK,2020-03-01,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,11.11,11.11,14.29,14.29,20200301,DNK20200301,0.000000,24.873610,24.873610
6045,Denmark,DNK,2020-03-02,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,11.11,11.11,14.29,14.29,20200302,DNK20200302,0.000000,25.682508,25.682508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6114,Denmark,DNK,2020-05-10,2.0,1.0,2.0,1.0,2.0,1.0,3.0,...,526.0,79.49,79.49,80.48,80.48,20200510,DNK20200510,5.097393,25.682508,20.585114
6115,Denmark,DNK,2020-05-11,0.0,NaN,2.0,1.0,2.0,1.0,3.0,...,529.0,71.02,71.02,69.76,69.76,20200511,DNK20200511,5.072394,26.693630,21.621236
6116,Denmark,DNK,2020-05-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,533.0,NaN,71.02,NaN,69.76,20200512,DNK20200512,5.069913,26.693630,21.623716
6117,Denmark,DNK,2020-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,527.0,NaN,71.02,NaN,69.76,20200513,DNK20200513,4.975923,26.188069,21.212146
6118,Denmark,DNK,2020-05-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,533.0,NaN,71.02,NaN,69.76,20200514,DNK20200514,4.996719,26.086957,21.090238

## using Kmeans to select Good performers and Bad Performers for the Classifier

In [16]:
from sklearn.cluster import k_means

def KmeansClustering(df):
    # extract variables of interest
    X = df[['DeathRate', 'MarketPerformance']]
    # Number of clusters:
    K = 4
    # K-means clustering:
    centroids, cls, inertia = k_means(X,K)
    rank = pd.DataFrame(centroids[:,1] - centroids[:,0]).rank()
    rank.columns = ['Rank']
    rank[rank['Rank'] > 2].index.values
    best_cluster = rank.idxmax()[0]
    worst_cluster = rank.idxmin()[0]
    best = df[cls==best_cluster]
    worst = df[cls==worst_cluster]
    good = best['CountryCode'].values
    bad = worst['CountryCode'].values
    return good,bad

In [11]:
good, bad = KmeansClustering(df[df['Date'] == datetime(2020, 5, 14, 0, 0)])

- Best Performing Countries (by the CovIndex on 14th May 2020)

In [12]:
good

array(['AUS', 'BRA', 'CAN', 'DEU', 'DNK', 'FIN', 'ISL', 'ISR', 'JPN',
       'KOR', 'NZL', 'USA', 'ZAF', 'TWN'], dtype=object)

- Worst Performing Countries (by the CovIndex on 14th May 2020)

In [13]:
bad

array(['BEL', 'ESP', 'FRA', 'ITA', 'MEX'], dtype=object)

## Add more info:
- take snapshot o all indicators on 30th April (needed for classifier later on)
- sum all Fiscal and other economic measure up to 30th April
- divide them by GDP (World Bank data are available) to make all Countries measure comparable

## Building the Classifier

- Selecting the 30th March as a snapshot of all Countries policies

In [14]:
# data preprocessing

# selecting our sample
# Oxford Data snapsot on 30th March
df1 = df[df['Date'] == datetime(2020, 3, 30, 0, 0)]
df1 = df1.iloc[:,1:-8]
df1 = df1.drop(columns=['Date', 'ConfirmedCases', 'ConfirmedDeaths'])
df1 = df1.fillna(0)


df1['Label'] = 1
df1.loc[df['CountryCode'].isin(good), 'Label'] = 2
df1.loc[df['CountryCode'].isin(bad), 'Label'] = 0

# encoding string labels (Category is the target variable)
labels = df1['Label']

# Select the Features
features = df1.iloc[:,1:-1]

# DecisionTree Classifier
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(features, labels)

# Predict Output
predicted= clf.predict(features) # 0:Overcast, 2:Mild
#print(predicted)

# measuring the classification performance of the Tree classifier through cross_val_score
from sklearn.model_selection import cross_val_score
np.mean(cross_val_score(clf, features, labels))#, cv=10))

0.4666666666666667